

.modal-overlay{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background:  rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modla-container{
    background-color: rgb(188, 61, 61);
    padding: 20px;
    border-radius: 2px;
    width: 80%;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}

.upper-section{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: space-between;
}

.upper-section>h1{
    margin: 0;
}
.close{
    margin: 0;
    font-size: 1.1em;
}

.close{
    cursor: pointer;

}

.middle-section{
    display:flex ;
    flex-direction: column;
    margin-bottom: 20px;

}

.middle-section>*{
    margin: 5px 0;
}

.lower-section{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 0;
}

.modal-btn{
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    margin-left: 15px;
    padding: 12px 24px;
    transform: background-color 0.3s;
    color: whitesmoke;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}
.btn-green{
    background-color: #1be56f;
}

.btn-green:hover,
.btn-green:focus{
    background-color: #2dd673;
}

.btn-red{
    background-color: #e74c3c;
}

.btn-red:hover,
.btn-red:focus{
    background-color: #c0392b;
}