
.contect-form-container{
  width: 50%;
  align-self: center;
  margin: 70px 0;

}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box{
  background-color: white;
  width: 100%;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  border-radius: 39px;
  padding: 19px 35px;
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  /* border: none; */
}

.body-input{
  height: 250px;
  padding:25px 35px;
}

.contact-btn{
  margin: 10px 0;
  border: none;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  text-align: center;
  padding: 17px 35px;
  background: linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.29%);
  border-radius: 35px;
}

.socil-icon-contains{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.socil-icon{
  margin: 21px;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.2));
}

.socil-icon:hover,
.contact-btn:hover{
  filter: drop-shadow(0px 8px 8px rgba(0,0,0,0.32));
  cursor: pointer;
  transition: all 0.3s ;

}

@media only screen and(max-width:550px) {
  .socil-icon{
    margin: 8px 21px ;
  }

  .contect-form-container{
    width: 80%;
  }
  
}